#horizontal, #vertical {
  position:absolute;
  display: inline-block;
  top:0;
  margin:0;
  padding: 0;
  width:50%;
  height:100%;
}

#horizontal {
  left:0;
}

#vertical {
  right:0;
  bottom:0;
}

.container {
}

.container.horizontal {
  position: relative;
  display: block;
  width: 90%;
  height: 120px;
}

.container.vertical {
  width: 20%;
  display: inline-block;
  height: 80%;
  margin:3px;
}

.container.horizontal > .horizontal-scroll-div {
  border: solid 2px;
  width:100%;
  position: absolute;
  top: 20px;
  height: 90px;
  background-color: blue;
}

.container.horizontal > .title {
  display:block;
  height: 20px;
  vertical-align: bottom;
  line-height: 20px;
}

.container.vertical > .vertical-scroll-div{
  border: solid 2px;
  width:100%;
  height:100%;
  background-color: red;
}

#map-list {
  height: 100%;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:relative;
  display:block;
  vertical-align:middle;
  text-align:center;
  height: auto;
  overflow:hidden;
}

.map-item {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  outline: none;
  width: 70px;
  height: 70px;
  padding: 0;
  overflow: hidden;
  position: relative;
  border: 1px solid #9b998d;
  -webkit-tap-highlight-color: transparent;
}

#iframe-scroll-horizontal
{

}

#scroll-auto-horizontal
{
  overflow-y:hidden;
  overflow-x:auto;
}

#touch-scroll-horizontal
{
  overflow-y:hidden;
  overflow-x:scroll;
  -webkit-overflow-scrolling: touch;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#overthrow-horizontal
{


}

#iframe-scroll-vertical
{


}

#scroll-auto-vertical
{


}

#touch-scroll-vertical
{


}

#overthrow-vertical{


}