body {
  padding-top:15px;
}

#horizontal, #vertical {
  position: absolute;
  display: block;
  margin:0;
  padding: 0;
  top:45px;
  bottom: 0;
  width: 100%;
}

#horizontal {
  left:0;
}

#vertical > div {
  width: 440px;
  margin: auto auto;
  height:100%;
}

.container {
  margin: auto auto;
}

.hidden {
  display:none !important;
}

div#btn {
  width:100%;
  text-align: center;
}

.container.horizontal {
  position: relative;
  display: block;
  width: 90%;
  height: 120px;
}

.container.vertical {
  width: 100px;
  display: inline-block;
  height: 90%;
  margin:3px;
}

.container.horizontal > .horizontal-scroll-div {
  border: solid 2px;
  width:100%;
  position: absolute;
  top: 20px;
  height: 90px;
  background-color: blue;
}

.container.horizontal > .title {
  display:block;
  height: 20px;
  vertical-align: bottom;
  line-height: 20px;
}

.container.vertical > .vertical-scroll-div{
  border: solid 2px;
  position: absolute;
  width:90px;
  top: 20px;
  bottom:20px;
  background-color: red;
}

.horizontal#map-list {
  width: 2430px;
  height: 100%;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:relative;
  display:block;
  vertical-align:middle;
  text-align:center;
  height: auto;
  overflow:hidden;
}

.horizontal .map-item {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  outline: none;
  width: 70px;
  height: 70px;
  padding: 0;
  overflow: hidden;
  position: relative;
  border: 1px solid #9b998d;
  -webkit-tap-highlight-color: transparent;
}

.vertical#map-list {
  height: 100%;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:relative;
  display:block;
  vertical-align:middle;
  text-align:center;
  height: auto;
  overflow:hidden;
}

.vertical .map-item {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  outline: none;
  width: 70px;
  height: 70px;
  padding: 0;
  overflow: hidden;
  position: relative;
  border: 1px solid #9b998d;
  -webkit-tap-highlight-color: transparent;
}

#iframe-scroll-horizontal
{
  overflow:hidden;
}

#scroll-auto-horizontal
{
  overflow-y:hidden;
  overflow-x:auto;
}

#touch-scroll-horizontal
{
  overflow-y:hidden;
  overflow-x:scroll;
  -webkit-overflow-scrolling: touch;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled #overthrow-horizontal.overthrow {
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#iframe-scroll-vertical
{
  overflow:hidden;
}

#scroll-auto-vertical
{
  overflow-x:hidden;
  overflow-y:auto;
}

#touch-scroll-vertical
{
  overflow-x:hidden;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

.overthrow-enabled #overthrow-vertical.overthrow {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}